[user]
    name = Taka008
    email = kodama@nlp.ist.i.kyoto-u.ac.jp

[alias]
    s = status
    df = diff
    dfc = diff --cached
    co = checkout
    cob = checkout -b
    bra = branch
    cm = commit -m
    cam = commit -a -m
    com = checkout main
    unstage = reset HEAD --
    last = log -1 HEAD

    # git l で綺麗に過去の履歴が見れる
    l = log --graph --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd] %C(bold blue)<%an> %Creset' --decorate --date=iso

[color]
    ui = true

[core]
    # git-delta (https://github.com/dandavison/delta)
    pager = delta
    editor = emacsclient -nw

[pager]
    branch = cat

[merge]
    ff = false

[pull]
    ff = only

[diff]
	indentHeuristic = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true     # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true
    syntax-theme = Dracula

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = main
